<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>beer pairing homepage</title>
</head>

<body>
	<h1 class="codrops-header__title">CERBERUS</h1>
	<div> Discover Beer Pairings!</div>
	<a class="global-menu__item global-menu__item--demo-3" href="#">Home</a>
	<a class="global-menu__item global-menu__item--demo-3" href="#">Outline</a>
	<a href="{% url 'beerSelect' %}">Start Pairing</a>
	<a class="global-menu__item global-menu__item--demo-3" href="#">Our Team</a>
</body>


</html>